body {
    font-family: 'Cairo', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 2em;
}

h1, h2, h3 {
    font-family: 'Cantora One', serif;
    font-weight: 400;
}

h1 {
    font-size: 3em;
    color: #594757;
}

h2 {
    font-size: 1.5em;
    color: #B583A0;
}

a {
    color: #594757;
}

a:visited {
    color: #B583A0;
}

a:hover {
    font-weight: 400;
}

.warning {
    color: #FF4444;
}

select {
    padding: 0px 10px;
}