{{#> main}}
{{#*inline "title"}}
{{/inline}}
{{#*inline "content"}}
<div class="row">
    <div class=twelve columns>
        <img src="static/img/logo1.svg" />
    </div>
</div>
<div class="row">
</div>
{{/inline}}
{{/main}}