{{#> main}}
{{#*inline "title"}}
cuberail.games
{{/inline}}
{{#*inline "content"}}
<h1>Welcome</h1>
<p>Welcome to cuberail.games - the new site for playing cube rail games online.</p>
<p>I've designed this game so I can playtest my new design "Emu Bay Railway Company", but I sincerely hope that more games may be added here in the future. </p>
<h2>Contributing</h2>
<p>cuberail.games is open source (under the MIT License), with the source available on GitHub under <a href="https://github.com/lkingsford/CubeRailDotGames">https://github.com/lkingsford/CubeRailDotGames</a>. Feel free to report any issues with the server there.</p>
<p>Each game has its own repository. The source for Emu Bay Railway Company game is on GitHub under <a href="https://github.com/lkingsford/EmuBayOnlineClient">https://github.com/lkingsford/EmuBayOnlineClient</a></p>
<p>Contributions to the server, or of games, are welcomed via Github. Documentation as to adding games will be provided soon. I require that any games added have the written consent of the game's owner (usually, the publisher or designer).</p>
{{/inline}}
{{/main}}