{{#> main}}
{{#*inline "title"}}
{{/inline}}
{{#*inline "content"}}
<div class="row">
    <div class="twelve columns">
        <img src="static/img/logo1.svg" />
    </div>
</div>
<div class="row">
    <div class="eight columns">Fill it with</div>
    <div class="four columns">I wanna login!</div>
</div>
{{/inline}}
{{/main}}