{{#> main}}
{{#*inline "title"}}
cuberail.games
{{/inline}}
{{#*inline "content"}}
<h1>Lobby</h1>
<form action="/createGame">
    <button type="submit">Create new game</button>
</form>
{{/inline}}
{{/main}}