{{#> main}}
{{#*inline "title"}}
cuberail.games - Register an account
{{/inline}}
{{#*inline "content"}}
<div class="row">
    <div class="twelve columns">
        <h1>Register an account</h1>
    </div>
</div>
<div class="row">
    <div class="two columns">
        Username to Register
    </div>
    <div class="two columns">
        <input type="text" id="username" />
    </div>
</div>
<div class="row">
    <div class="two columns">
        Desired password
    </div>
    <div class="two columns">
        <input type="password" id="password" />
    </div>
</div>
<div class="row">
    <div class="two columns"><p></p>
    </div>
    <div class="four columns">
        <button id="create" onclick="createaccount()">Create account</button>
    </div>
    <div class="two columns" id="status">
    </div>
</div>
{{/inline}}
{{/main}}